static/* linguist-vendored
templates/* linguist-vendored
images/* linguist-vendored
env/* linguist-vendored
newenv/* linguist-vendored
prefecture_list.json* linguist-vendored
templates/public/* linguist-vendored

